body{
	background-color: #2f4f4f;
	user-select: none;
}

.container{
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 4px;
	background-color: #212121;
	margin: 0 auto;
	padding: 10px;	
	border-radius: 5px;
	max-width: 500px;
}

.item{
	background-color: #b3e5fc;
	color: #000;
	padding: 20px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 700;
	font-size: 24px;
}

form{
	max-width: 100%;
	width: 100%;
}

input{
	width: 100%;
	height: 100px;
	border: none;
	font-size: 28px;
	outline: none;
	text-align: right;
}

.input{
	grid-column: 1/-1;
	padding: 0;
}

.clean{
	grid-column: 1/3;
	background-color: #0288d1;
}

.back{
	grid-column: 3/-1;
}

.zero{
	grid-column: 1/3;
}

.equal{
	grid-column: 4;
	grid-row: 6/8;

	background-color: #c3c3c3;
}
